body {
    background: #e8e8e8;
    padding: 106px 0 0 0;
    text-align: center;
    color: #273d46;
    min-height: 1700px;
}

.content_wrapper {
    max-width: 1190px;
    margin: 0 auto;
    position: relative;
}

.content_wrapper> :not(.img_container) {
    width: 720px;
    margin: 0 auto;
}

#main_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.24;
    z-index: -1;
}

.headline {
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.header_2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 50px;
}

.img_container {
    width: 841px;
    height: 561px;
    box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
    margin: 80px auto 90px auto;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper .paragraph {
    text-align: left;
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 40px;
}

.content_wrapper .paragraph,
.content_wrapper .list {
    margin: 0 auto 64px auto;
}

.list {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.list li {
    position: relative;
    padding: 0 0 0 30px;
}

.list li::before {
    content: '';
    background: url('../imgs/check_icon_37.png') 0 0 no-repeat;
    width: 25px;
    height: 19px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
}

.list li:nth-of-type(1) {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.list li:nth-of-type(2) {
    font-style: italic;
    color: #80b7b3;
}

.list li:nth-of-type(3) {
    font-weight: 700;
}

.list_item_wrapper {
    opacity: 0.3;
    text-decoration: line-through;
}

.btn_wrapper {
    display: flex;
}

.content_wrapper .btn {
    padding: 5px 20px;
    border-radius: 100vw;
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    background: #80b7b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn_img {
    margin-left: 5px;
}
